<p id="notice"><%= notice %></p>

<p>
  <strong>Slider image:</strong>
  <%= @slider.slider_image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @slider.caption %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
